<template>
    <div class="post-container">
        <h3>Riders have been sorted by lowest total time</h3>
    <table id="table">
        <tbody>
            <tr>
                <th id="id">Id</th>
                <th id="name">Name</th>
                <th id="totalTime">Total Time in hours</th>
                <th id="mountainPoints">Mountain points</th>
                <th id="sprintPoints">Sprint Points</th>
                <th id="teamName">Team Name</th>
            </tr>
        </tbody>
        <tbody id="tbl-body"></tbody>
    </table>
    </div>
</template>