<template>
    <div class="post-container" id="post-container">
        <h2>Add a Rider</h2>
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter rider name">

        <label for="name">Team Name</label>
        <input type="text" id="teamName" placeholder="Team Name">

        <label for="age">Age</label>
        <input type="number" id="age" placeholder="Enter rider age">

        <label for="totalTime">Time total</label>
        <input type="text" id="totalTime" placeholder="10:15:30">

        <label for="sprintPoints">Sprint points</label>
        <input type="number" id="sprintPoints" placeholder="Enter points">

        <label for="mountainPoints">Mountain points</label>
        <input type="number" id="mountainPoints" placeholder="Enter points">

        <button id="btn_submit">Add rider</button>
        <p id="information"></p>
    </div>
</template>