<template>

    <div class="admin-container" id="crud-container">
        <div>
            <h1>See all Riders</h1>
            <p>In this tab you can view the current stats for each rider in the race!</p>
            <a href="#/riders">See stats!</a>
            <br>
            <a href="#/sorted">See Riders sorted!!</a>
        </div>

        <div>
            <h1>Manage Riders</h1>
            <p>In this tab you can manage riders. <br>
            Currently available features: </p>
            <br>
            <ul>
                <li>Delete a Rider!</li>
                <li>Update a Rider!</li>
                <li>Add a new Rider!</li>
            </ul>
            <br>
            <a href="#/manage">Manage Riders right here!</a>
            <br>
            <a href="#/addRider">Add a new rider right here!!</a>

        </div>
    </div>

</template>